<% provide(:title, "#{@project.title} - #{@title}") %>

<div class="container">

<div class="row">
	<aside class="span2">
		<section>

			<h2>Project Details</h2>
			<%= pluralize(@project.users.count, 'member') %>
		</section>
		<% if signed_in? %>
		<section>
			<%= render 'shared/project_details' if signed_in? %>
		</section>
		<% end %>
		<section>
			<div class="join_button">
				<%= render 'shared/join_button' if signed_in? %>
			</div>
		</section>
	</aside>
	<div class="span10">

		<section>
		<%= render 'shared/project_nav' %>
		</section>


		<% if @project.has_user?(current_user) %>
			<% if signed_in? %>
			<section>
				<%= render 'shared/dataset_form' %>
			</section>

			<section>
				<%= render 'shared/project_datasets' %>
			</section>
			<% end %>
		<% else %>
			<h2>You are not currently enrolled in this project.</h2>
		<% end %>

	</div>
</div>

</div>